@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: "Poppins";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.team-card-container {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: calc(100vw - 20px);
    max-width: calc(100vw - 20px);
    min-height: min-content;
    /* max-height: -moz-fit-content; */
    max-height: fit-content;
    padding: 10px;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.mem1 {
    width: 220px;
    height: 250px;
    /* border: 2px solid black; */
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    background-color: #bebebe;
    box-shadow: hsla(0, 0%, 100%, .6);
}

.mem-img img {
    border-radius: 50%;
    height: 135px;
    object-fit: cover;

}

.name {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.designation {
    font-size: 15px;
    color: #000;
    font-weight: 700;
}

.social-handle {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 25px;
}

.social-handle a {
    margin-left: 10px;
    font-size: 20px;

}

.about-top-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #dbbc0a;
    margin-top: 10px;
    text-shadow: hsla(0, 0%, 100%, .6) 1px 2px 6px;
    text-align: center;
    /* background-color: black; */
}

.about-top-txt span:nth-child(2) {
    font-size: 14px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    z-index: 100;


}

.nav {
    position: relative;
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdb5b5;
    border-radius: 10px;
}

.nav ul {
    display: flex;
    width: 285px;

}

.nav ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;

}

.nav ul li a {
    color: #5e17eb;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;

}

.nav ul li a .text {
    font-size: 14px;
}

.nav ul li a .icon {
    position: relative;
    display: block;
    text-align: center;
    line-height: 30px;
}
.icon{
    transition: all 1s cubic-bezier(0, 0.62, 0.11, 0.98);
}
.icon:hover{
    transform: translateY(-3px);
}
@media only screen and (max-width:479px ) {
    .header-container {
        position: sticky;
        top: 10px;
        left: 0px;
        right: 0px;
    }
}

body{
    background-color: lightgrey;
}