@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  set background img */
.output {

    height: 100vh;
    background-image: url("/img/GEHU-bg-filter.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness();
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    /* align-content: flex-end; */
    justify-content: flex-end;


}


.text-bg {
    /* display: inline-block; */
    border-radius: 18px;
    height: 225px;
    width: 85vw;
    background-color: #112240b4;
    box-shadow: 0px 0px 80px #112240b4;
    margin-top: 55vh;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: white;

}

#move-inp-btn {
    color: rgb(125, 20, 254);

    border: 0px;
    background-color: black;
}


.text-bg div {
    margin: 40px;
}

.image-data {
    /* display: flex;*/
    position: relative;
    width: 50vw;
    height: 100vh;


}

.img-blur-bg {
    border-radius: 18px;
    height: 30vh;
    width: 90vw;
    background-color: #ffffff72;
    box-shadow: 0px 0px 80px #bebebe37;
    position: absolute;
    margin-top: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-blur-bg img {
    position: absolute;
    z-index: 100;
    border-radius: 18px;
    width: 85vw;
    
}

@media screen and (min-width:520px) {
    .text-bg {
        background-color: blue;
        position: relative;
        top: 35px;
        height: 25vh;
    }

    .output {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        align-content: space-between;
        justify-content: flex-end;
        
    }

    .img-blur-bg {
        height: 35vh;
    }

    .img-blur-bg img {
        width: 75vw;
    }
}

@media screen and (min-width:658px) {
    .text-bg {
        background-color: blue;
        position: relative;
        top: 35px;
        height: 25vh;
    }

    .output {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        align-content: space-between;
        justify-content: flex-end;
        
    }

    .img-blur-bg {
        height: 45vh;
    }

    .img-blur-bg img {
        width: 75vw;
    }
}

@media screen and (min-width:866px) {
    .text-bg {
        background-color: blue;
        position: relative;
        top: 45px;
        height: 25vh;
    }

    .output {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        align-content: space-between;
        justify-content: flex-end;
        
    }

    .img-blur-bg {
        height: 47vh;
    }

    .img-blur-bg img {
        width: 75vw;
    }
}

@media screen and (min-width:1025px) {

    .output {
        flex-direction: row;
    }

    .text-bg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: red;
        width: 35vw;
        height: 40vh;
        position: absolute;
        left: 130px;
        top: 0px;
    }

    .text-bg :nth-child(1){
        margin-bottom: 10px;
    }

    .img-blur-bg {
        width: 40vw;
        height: 55vh;
        position: absolute;
        top: 35px;
        right: 60px;
    }

    .img-blur-bg img {

        width: 35vw;
    }


}